* {
  font-size: 30px;
  background-color: rgb(202, 194, 194);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cpu-choice {
  border: 2px solid black;
  height: 2rem;
  width: 50vw;
  margin: 10px;
  text-align: center;
}

#attempts-left {
  border: 2px solid black;
  height: 1.2rem;
  width: 2rem;
  margin: 10px;
  text-align: center;
}

.letters {
  margin: 20px;
  cursor: pointer;
}

.letter {
  cursor: pointer;
}

#start-button {
  margin-top: 10px;
  cursor: pointer;
}
