* {
  font-size: 30px;
  background-color: rgb(202, 194, 194);
}

.cpu-choice {
  border: 2px solid black;
  height: 30px;
  margin: 10px;
}

.attempts-left {
  border: 2px solid black;
  height: 30px;
  margin: 10px;
}

.alphabet {
  margin: 20px;
}

.alphabet > * {
  margin: 10px;
}
