* {
  font-size: 30px;
}

.cpu-choice {
  border: 2px solid black;
  height: 30px;
  margin: 10px;
}

.player-choice {
  border: 2px solid black;
  height: 30px;
  margin: 10px;
}

.alphabet {
  margin: 20px;
}

.alphabet > * {
  margin: 10px;
}
